<div class="container first">
  <img src="assets\images\main.png" alt="Background" width="100%" height="auto">
  <!-- navigation start -->
  <div class="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <img src="assets\images\logo.png" alt="">
        <a class="navbar-brand" href="#">Lorem Ipsum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <li data-menuanchor="slide01"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
            <li data-menuanchor="slide02"><a class="nav-link" href="#">Why Us</a></li>
            <li data-menuanchor="slide03"><a class="nav-link" href="#">Testimonials</a></li>
            <li data-menuanchor="slide04"><a class="nav-link" href="#">Pricing</a></li>
            <li data-menuanchor="slide05"><a class="nav-link" href="#" tabindex="-1" aria-disabled="true">FAQ</a></li>
            <li data-menuanchor="slide06"><a class="nav-link" href="#">Contact Us</a></li>
            <button type="button" class="btn btn1 btn-primary">Register</button>
          </div>
        </div>
      </div>
    </nav>
    <!-- navigation end -->

<!-- content below naigation -->
    <div class="content" style="text-align: center; padding-left: 250px;">
      <h2>Discover With New Dashboard</h2>
      <p>Sed hendrerit metus tortur, quis volutpat en\im.</p>
      <button type="button" class="btn btn2 btn-warning">Get it Now</button>
      <button type="button" class="btn btn3 btn-primary">Play Video</button>
      <br>
      <img class="rect" src="assets\images\rect2.png" alt="Rectangle">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <img class="icon1" src="assets\images\icon2.png" alt="icon">
      <pre class="text-icon">I N K Y Y</pre>
    </div>
    <div class="col-md-2">
      <img class="icon1" src="assets\images\icon2.png" alt="icon">
      <pre class="text-icon">I N K Y Y</pre>
    </div>
    <div class="col-md-2">
      <img class="icon1" src="assets\images\icon1.png" alt="icon">
      <pre class="text-icon">I N K Y Y</pre>
    </div>
    <div class="col-md-2">
      <img class="icon1" src="assets\images\icon2.png" alt="icon">
      <pre class="text-icon">I N K Y Y</pre>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<br><br>

<!-- choose us part 1 start -->
<div class="container choose-us" data-section="slide02" style="padding-top: 100px;">
  <h2>Why Choose Us</h2>
  <p>Proin rhonus, neque sed congue commodo, orci magna tristique 
    ipsum, vel egestas risus augue quis justo.</p>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <div class="card card1">
        <div class="card-body">
          <img src="assets\images\g1.png" alt="">
          <h5 class="card-title">Useable Guide</h5>
          <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <img src="assets\images\g2.png" alt="">
          <h5 class="card-title">Perfect UI/UX System</h5>
          <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <img src="assets\images\g3.png" alt="">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- choose us part 1 end -->

<!-- choose us part 2 start -->
<div class="container choose-us2">
  <div class="row">
    <div class="col-md-6">
      <img class="rect2" src="assets\images\rectangle.png" width="300px" height="300px" alt="">
    </div>
    <div class="rect-content" style="padding-top: 75px; padding-bottom: 80px;" class="col-md-6">
      <h2>Perfect UX Structure</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
      <button class="btn btn4">Get It Now</button>
    </div>
  </div>
</div>
<!-- choose us part 2 end -->

<!-- ready to get started start -->
<div class="container second" data-section="slide02">
  <img src="assets\images\img2.png" width="100%" height="auto" alt="">
  <div class="second-content">
    <h2>Ready to Get Started</h2>
    <p>Donec tempor finibus ante ac luctus, Fusce facilisis nisi vel adio tincidunt maximus.<br> 
      Pellentesque tempus gravida viverra.</p>
    <button class="btn btn-warning">Get It Now</button>
  </div>  
</div>
<!-- ready to get started end -->

<!-- testimonial start -->
<div class="container testimonial" data-section="slide03">
  <h2 id="testimonial-header">Testimonials</h2>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Jane Doe</h5>
          <h6>CEO, Inkyy</h6>
          <p class="card-text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</p>
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Bojan Sandic</h5>
          <h6>CEO, Inkyy</h6>
          <p class="card-text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</p>
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Jane Doe</h5>
          <h6>CEO, Inkyy</h6>
          <p class="card-text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</p>
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star2.png" alt="">
          <img src="assets\images\star1.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<!-- testimonial end -->

<!-- Questionary started -->
<div class="container" data-section="slide05">
  <div class="question">
    <h2>Frequiently Asked Questions</h2>
  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium<br> 
    voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img class="que-img" src="assets\images\question-mark.png" alt="Question">     
      <div class="que-content">
        <h5>Finibus Bonorum et Malorum written?</h5>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
      </div>
    </div>
    <div class="col-md-4">
      <img class="que-img" src="assets\images\question-mark.png" alt="Question">
      <div class="que-content">
        <h5>Finibus Bonorum et Malorum written?</h5>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img class="que-img" src="assets\images\question-mark.png" alt="Question">
      <div class="que-content">
        <h5>Finibus Bonorum et Malorum written?</h5>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
      </div>
    </div>
    <div class="col-sm-4">
      <img class="que-img" src="assets\images\question-mark.png" alt="Question">
      <div class="que-content">
        <h5>Finibus Bonorum et Malorum written?</h5>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-4">
      <img class="que-img" src="assets\images\question-mark.png" alt="Question">
      <div class="que-content">
        <h5>Finibus Bonorum et Malorum written?</h5>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
      </div>
    </div>
    <div class="col-sm-4">
      <img class="que-img" src="assets\images\question-mark.png" alt="Question">
      <div class="que-content">
        <h5>Finibus Bonorum et Malorum written?</h5>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- Questionary ended -->

<!-- feedback end -->
<div class="container feedback" data-section="slide06">
  <h2>Drop A Message</h2>
  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis<br> 
    praesentium voluptatum deleniti atque corrupti quos dolores</p>
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <form action="">
          <input type="text" class="form-control" placeholder="Name" width="50px"><br>
          <input type="email" class="form-control" placeholder="Email" width="50px"><br>
          <textarea name="textarea" id="textarea" placeholder="Message" width="50px" class="form-control" cols="10" rows="5"></textarea>
          <br>
          <button class="btn button5">Send Message</button>
        </form>
      </div>
      <div class="col-md-4"></div>
  </div>

  <div style="text-align: left;" class="row feed2">
    <div class="col-md-3">
      <h5>About Saas Temp</h5>
      <p>On the other hand, we denounce with righteous 
        indignation and dislike men who are so beguiled 
        and demoralized by the charms of pleasure of the<br><br>
        moment, so blinded by desire, that they cannot foresee
        the pain and trouble that are bound
      </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h5>Quick Links</h5>
      <a href="">Career</a><br>
      <a href="">Testimonial</a><br>
      <a href="">Support</a><br>
      <a href="">Pricing</a><br>
      <a href="">About App</a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h5>Subscribe Our Newsletter</h5>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Enter Email Address" aria-describedby="btnGroupAddon">
        <button class="btn btn-warning" id="btnGroupAddon">Subscribe</button> 
        
        <!-- <img src="assets\images\facebook.png" alt="facebook">
        <img src="assets\images\twitter.png" alt="twitter">
        <img src="assets\images\linkedin.png" alt="linkedin"> -->
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- feedback end -->

  <!-- Footer started -->
  <div class="container footer">
    <div class="row">
      <div class="col-md-4 author">
        <p>Designed by Pramod</p>
      </div>
      <div class="col-md-4">
        <a class="nav-link" href="">Home</a>
        <a class="nav-link" href="">Why Us</a>
        <a class="nav-link" href="">Testimonials</a>
      </div>
      <div class="col-md-4">
        <a class="nav-link" href="">Pricing</a>
        <a class="nav-link" href="">FAQ</a>
        <a class="nav-link" href="">Contact Us</a>
      </div>
    </div>
  </div>
  <!-- Footer end -->
<router-outlet></router-outlet>